<p
  style="
    line-height: 160%;
    font-size: 16px;
    text-align: left;
    padding: 5px 10px;
  "
>
  <%= from_to %>: <%= exchange_rate %>
  <span style="float: right">
		<% if(change_from_yesterday >= 0) { %>
			+<%= change_from_yesterday %>
		<% } else { %>
			<%= change_from_yesterday %>
		<% } %>
	</span>
</p>
