<!--[if (mso)|(IE)]><td style="padding:5px 15px"><![endif]-->

<a
  href="<%= jumpLink %>"
  target="_self"
  style="
    padding: 5px 15px;
    display: block;
    color: #0068a5;
    font-size: 16px;
    text-decoration: underline;
  "
  class="v-font-size"
>
  <%= mensaName %>
</a>

<!--[if (mso)|(IE)]></td><![endif]-->
